body{
    
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(193, 200, 249); 
    /* background-image: url("scratch.image.webp");
    background-repeat: no-repeat; */
}

h1{
    text-align: center;
    color: navy;
    font-size: 80px;
    padding-left: 180px;
}
img{
    float:right;
    width: 350px;
   height: 220px;
   padding-right: 250px;
}
h2{
    float: right;
    padding-top: 100px;
    padding-right:100px;
}
.commonnav{
    float: right;
    font-size: larger;
    padding-right: 80px;
    
}
h3{
    padding-left: 70px;
}